*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 175vh;

   
    
}
.main-header{
    background-color: #D7BA25;
    height: 90px;
    
}
.logo{
    height: 80px;
    width: 150px;
    margin-left: 20px;
}
.navbar ul{
    position: absolute;
    width: 107px;
    height: 30px;
    left: 250px;
    top: 30px;
    list-style: none;
    display: flex;
    
}.navbar a{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.men{
    margin-right: 60px;
}
#search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    position: absolute;
    width: 350px;
    height: 45px;
    left: 850px;
    top: 25px;
    background: #ECE6F0;
    border-radius: 28px;
    border: none;
}
.shop{
    height: 30px;
    width: 30px;
    position: relative;
    left: 1250px;
    bottom: 50px;
    cursor: pointer;
}
.profile{
    height: 30px;
    width: 30px;
    position: relative;
    left: 1280px;
    bottom: 50px;
    cursor: pointer;
}
.contact{
    position: absolute;
    width: 85px;
    height: 39px;
    left: 1400px;
    top: 40px;
    background-color: black;
    color: white;
    border-radius: solid rgb(251, 250, 250) 100px;
}
.contact-btn{
    height: 30px;
    width: 85px;
    background-color: black;
    color: white;
    border-radius: 10px;
    left: 1390px;
    top: 35px;
    position: absolute;
    cursor: pointer;
}
.best-seller{
    height: 600px;
    width: 1450px;
    margin-left: 25px;
    margin-top: 20px;
} 
.outer-box1{
    position: relative;
    border-radius: 15px;
    background: #1E1D1D;
    height: 240px;
    width: 300px;
    left: 80px;
    top: 100px;
    z-index: 0;
}
.whitebox1{
    position: relative;
    border-radius: 20px;
    background-color: white;
    height: 150px;
    width: 270px;
    margin-left: 13px;
    top: 15px;
    z-index: 1;
}
.pic1{
    height: 210px;
    width: 250px;
    position: relative;
    bottom: 50px;
    left: 10px;
}
.name-price1{
position: absolute;
top: 160px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 20px;
color: white;
left: 3px;
} 
.cart{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 238px;
    bottom: -3px;
    cursor: pointer;
}
/* second product */
.outer-box2{
    position: relative;
    border-radius: 15px;
    background: #D7BA25;
    height: 240px;
    width: 300px;
    left: 450px;
    bottom: 138px;
    z-index: 0;
}
.whitebox2{
    position: relative;
    border-radius: 20px;
    background-color: white;
    height: 150px;
    width: 270px;
    margin-left: 13px;
    top: 15px;
    z-index: 1;
}
.pic2{
    height: 210px;
    width: 250px;
    position: relative;
    bottom: 50px;
    left: 10px;
}
.name-price2{
    position: absolute;
    top: 160px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: black;
    left: 3px;
}
.cart2{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 238px;
    bottom: -3px;
    cursor: pointer;
}
.outer-box3{
    position: relative;
    border-radius: 15px;
    background: #1E1D1D;
    height: 240px;
    width: 300px;
    left: 820px;
    bottom: 378px;
    z-index: 0;
}
.whitebox3{
    position: relative;
    border-radius: 20px;
    background-color: white;
    height: 150px;
    width: 270px;
    margin-left: 13px;
    top: 15px;
    z-index: 1;
}
.name-price3{
    position: absolute;
    top: 160px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: white;
    left: 3px;
}
.pic3{
    height: 210px;
    width: 250px;
    position: relative;
    bottom: 50px;
    left: 10px;
}
.outer-box4{
    position: relative;
    border-radius: 15px;
    background: #D7BA25;
    height: 240px;
    width: 300px;
    left: 1190px;
    bottom: 616px;
    z-index: 0;
}
.whitebox4{
    position: relative;
    border-radius: 20px;
    background-color: white;
    height: 150px;
    width: 270px;
    margin-left: 13px;
    top: 15px;
    z-index: 1;
}
.name-price4{
    position: absolute;
    top: 160px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: black;
    left: 3px;
}
.pic4{
    height: 210px;
    width: 250px;
    position: relative;
    bottom: 50px;
    left: 10px;
}
.products{
    position: relative;
    right: 35px;
}







